.filtersnstagsbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.selector_counter_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filterselector{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 65px;

}

.tagfilterbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    gap: 60px;
}

.filtertag {
    display: flex;
    width: 195px;
    height: 53px;
    padding: 17px 18px;
    align-items: center;

    border-radius: 10px;
    background: #FFD15B;
    color: black;
    font-size: 14px;
    font-family: var(--font-manrope);
}

.counter {
    white-space: nowrap;
    color: var(--Black, #1B1B1B);
    font-family: var(--font-anton);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}